@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");

body {
  margin: 0;
  padding: 2rem 20% 2rem 20%;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}

.main-title {
  text-align: center;
  margin-bottom: 2rem;
}

.nav-container > .hours {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  margin-bottom: 1rem;
}

.nav-container > .hours a,
.nav-container > .hours div {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  width: 2rem;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container > .hours div {
  border: 2px solid #275d38;
  color: #275d38;
  background-color: white;
  cursor: default;
}

.nav-container > .no-prereq {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background-color: #efefef;
  /* width: auto;
  position: fixed;
  top: 0;
  right: 0; */
  padding: 0.5rem 1rem 0.5rem 1rem;
  /* margin: 1rem; */
  border: 1px solid #275d38;
  margin-bottom: 1rem;
}

.nav-container > .no-prereq div {
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2rem;
  color: #275d38;
  border: 1px solid #275d38;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.courses > .course {
  background-color: #efefef;
  padding: 2rem;
  border-radius: 2rem;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
  word-break: break-word;
}

.courses > .course > .class_title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.courses > .course > .credits {
  font-weight: 300;
  font-size: 1.2rem;
}

.courses > .course div > .prereq {
  font-weight: 300;
  /* color: #0a0a0a; */
  font-size: 1rem;
  margin-top: 1rem;
}

.courses > .course p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1rem;
}
